################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JPB.Shell/JPB.Shell.CommonContracts/bin/Debug
